<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(동네생활-프로필)"></head>
<body>
    <header th:replace="fragments/layout :: header(profile)"></header>

    <div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
        <div class="row mb-5">
            <div class="col text-start">
                <span class="fs-4 fw-bold" th:text="${profile.member.nickname}">닉네임</span>
                <span class="badge rounded-pill bg-info text-dark">36.5C</span>
                <br />
                <span class="text-secondary" th:text="${#temporals.format(profile.member.createdAt, 'yyyy년 M월 d일 가입')}">2020년 8월 24일 가입</span>
            </div>
            <div class="col text-end">
                <img th:src="@{https://api.dicebear.com/5.x/personas/svg(radius=50, size=100, backgroundColor='b6e3f4,c0aede,d1d4f9', seed=${profile.member.token})}"
                     src="https://api.dicebear.com/5.x/personas/svg" alt="avatar"/>
            </div>
        </div>
        <div class="row text-center mb-4">
            <div class="col">
                <span th:text="${profile.summary.totalViews}"
                      th:classappend="${profile.summary.totalViews} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">누적 조회수</span>
            </div>
            <div class="col">
                <span th:text="${profile.summary.totalLikeCount}"
                      th:classappend="${profile.summary.totalLikeCount} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">받은 좋아요수</span>
            </div>
            <div class="col">
                <span th:text="${profile.summary.totalCommentCount}"
                      th:classappend="${profile.summary.totalCommentCount} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">받은 댓글수</span>
            </div>
        </div>
        <div class="mb-4" th:text="${profile.member.introduction}">
            책 좋아해용 히히
        </div>
        <!-- 자신의 프로필일 경우만 수정 버튼을 보여준다. -->
        <div th:if="${profile.member.token} == ${session.loginMember.token}" class="d-grid gap-2 mb-4">
            <a href="/myProfile/edit" class="btn btn-secondary" type="button">프로필 수정</a>
        </div>

        <hr style="border-top:10px solid black;" class="row">

        <div class="mt-4">
            <div class="fs-4 fw-bold mb-4">게시글</div>
            <ul class="nav nav-tabs row" id="myTab" role="tablist">
                <li class="nav-item col-sm-6" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        작성한 글 <span th:text="${#lists.size(profile.writtenPosts)}">0</span>
                    </button>
                </li>
                <li class="nav-item col-sm-6" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        댓글단 글 <span th:text="${#lists.size(profile.commentaryPosts)}">0</span>
                    </button>
                </li>
            </ul>
            <div class="tab-content pb-5" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div th:if="${#lists.isEmpty(profile.writtenPosts)}" class="text-center text-muted h4 mt-5">
                        <!-- 글 활동 내역이 없을 경우 보여줌 -->
                        <th:block th:if="${profile.member.token} == ${session.loginMember.token}">
                            첫 동네 이야기를 이웃에게 알려주세요. <br /><br />
                            <a href="/post/add" class="btn btn-secondary btn-lg">동네생활 글쓰기</a>
                        </th:block>
                        <th:block th:unless="${profile.member.token} == ${session.loginMember.token}">
                            활동한 내역이 없어요 <br /><br />
                            <a href="/" class="btn btn-secondary btn-lg">다른 이웃글보기</a>
                        </th:block>
                    </div>
                    <th:block th:replace="fragments/posts :: posts(${profile.writtenPosts}, ${categoriesMap})"></th:block>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div th:if="${#lists.isEmpty(profile.commentaryPosts)}" class="text-center text-muted h4 mt-5">
                        <!-- 댓글 활동 내역이 없을 경우 보여줌 -->
                        <th:block th:if="${profile.member.token} == ${session.loginMember.token}">
                            댓글 참여한 글을 확인할 수 있어요. <br /><br />
                            <a href="/" class="btn btn-secondary btn-lg">동네생활 둘러보기</a>
                        </th:block>
                        <th:block th:unless="${profile.member.token} == ${session.loginMember.token}">
                            활동한 내역이 없어요 <br /><br />
                            <a href="/" class="btn btn-secondary btn-lg">다른 이웃글보기</a>
                        </th:block>
                    </div>
                    <th:block th:replace="fragments/posts :: posts(${profile.commentaryPosts}, ${categoriesMap})"></th:block>
                </div>
            </div>
        </div>
    </div>
    <!-- 자신의 프로필인지의 여부로 footer로 보내는 값 달라짐 -->
    <footer th:replace="${profile.member.token} == ${session.loginMember.token}? ~{fragments/layout :: footer(myProfile)} : ~{fragments/layout :: footer(profile)}"></footer>
</body>
</html>