<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(동네생활-프로필)"></head>
<body>
    <header th:replace="fragments/layout :: header(profile)"></header>

    <div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
        <div class="row mb-5">
            <div class="col text-start">
                <span class="fs-4 fw-bold" th:text="${profile.member.nickname}">닉네임</span>
                <span class="badge rounded-pill bg-info text-dark">36.5C</span>
                <br />
                <span class="text-secondary" th:text="${#temporals.format(profile.member.createdAt, 'yyyy년 M월 d일 가입')}">2020년 8월 24일 가입</span>
            </div>
            <div class="col text-end">
                <img th:src="@{https://api.dicebear.com/5.x/personas/svg(radius=50, size=100, backgroundColor='b6e3f4,c0aede,d1d4f9', seed=${profile.member.token})}"
                     src="https://api.dicebear.com/5.x/personas/svg" alt="avatar"/>
            </div>
        </div>
        <div class="row text-center mb-4">
            <div class="col">
                <span th:text="${profile.summary.totalViews}"
                      th:classappend="${profile.summary.totalViews} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">누적 조회수</span>
            </div>
            <div class="col">
                <span th:text="${profile.summary.totalLikeCount}"
                      th:classappend="${profile.summary.totalLikeCount} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">받은 좋아요수</span>
            </div>
            <div class="col">
                <span th:text="${profile.summary.totalCommentCount}"
                      th:classappend="${profile.summary.totalCommentCount} == 0? text-secondary : text-white">0</span><br />
                <span class="text-muted">받은 댓글수</span>
            </div>
        </div>
        <div class="mb-2" th:text="${profile.member.introduction}">
            책 좋아해용 히히
        </div>
        <!-- 자신의 프로필일 경우만 수정 버튼을 보여준다. -->
        <div class="d-grid gap-2" th:if="${profile.member.token} == ${session.loginMember.token}">
            <a href="/myProfile/edit" class="btn btn-secondary" type="button">프로필 수정</a>
        </div>
    </div>
    <!-- 자신의 프로필인지의 여부로 footer로 보내는 값 달라짐 -->
    <footer th:replace="${profile.member.token} == ${session.loginMember.token}? ~{fragments/layout :: footer(myProfile)} : ~{fragments/layout :: footer(profile)}"></footer>
</body>
</html>