<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(프로필수정)"></head>
<body>
    <header th:replace="fragments/layout :: header"></header>

    <div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
        <form method="post" th:object="${form}">
            <div class="mb-3">
                <label th:for="nickname" class="form-label">닉네임</label>
                <input type="text" class="form-control" th:field="*{nickname}" required>
            </div>
            <div class="mb-3">
                <label th:for="introduction" class="form-label">자기소개</label>
                <textarea class="form-control" th:field="*{introduction}" maxlength="140"
                          placeholder="동네생활의 이웃들과 같이 이야기 하고 싶은 주제나 취미 활동을 적어보세요. (최대 140자)"></textarea>
                <div th:errors="*{introduction}">
                    자기소개 오류
                </div>
            </div>
            <button type="submit" class="btn btn-primary">수정완료</button>
        </form>
    </div>
    <footer th:replace="fragments/layout :: footer(profile)"></footer>
</body>
</html>