<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/layout :: head(로그인)"></head>
<body>
<div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
  <form method="post" th:object="${form}">
    <div class="mb-3">
      <label th:for="email" class="form-label">이메일</label>
      <input th:field="*{email}" type="email" class="form-control" placeholder="이메일을 입력해주세요." required>
    </div>
    <div class="mb-3">
      <label th:for="password" class="form-label">비밀번호</label>
      <input th:field="*{password}" type="password" class="form-control" placeholder="비밀번호를 입력해주세요." required>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
  <br />
  <a href="/signUp">회원가입</a>
</div>

</body>
</html>