<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(동네생활-글)"></head>
<body>
<header th:replace="fragments/layout :: header(post)"></header>

<div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
    <div class="mb-4 d-flex justify-content-between">
        <div>
            <span class="badge bg-secondary" th:text="${model.postCategory.displayName}">일상</span>
        </div>
        <div class="dropdown" th:if="${session.loginMember.id} == ${model.creator.id}">
            <span class="btn text-white" data-bs-toggle="dropdown" aria-expanded="false" style="padding:0px;">
                <i class="bi bi-three-dots-vertical" style="font-size:20px"></i>
            </span>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" th:href="@{|/post/${model.post.id}/edit|}" >수정</a></li>
                <li>
                    <form action="/post/delete" method="post" id="deletePost" style="display: inline;">
                        <input type="hidden" name="postId" th:value="${model.post.id}">
                        <a class="dropdown-item" href="javascript:void(0);"
                           onclick="if (confirm('해당 글을 삭제하시겠습니까?')) {document.getElementById('deletePost').submit();}">삭제</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <a href="/profile" th:href="@{|/profile/${model.creator.token}|}" class="text-decoration-none" style="display: block;">
            <img th:src="@{https://api.dicebear.com/5.x/personas/svg(radius=50, size=43, backgroundColor='b6e3f4,c0aede,d1d4f9', seed=${model.creator.token})}"
                 src="https://api.dicebear.com/5.x/personas/svg" alt="avatar" class="float-start me-3"/>
            <span class="text-white font-weight-bold h5" th:text="${model.creator.nickname}">닉네임</span> <br />
            <span class="text-muted" th:text="${@thymeleafUtils.datetimeToStr(model.post.createdAt)}">3분 전</span>
        </a>
    </div>

    <div class="mb-4">
        <h3 th:text="${model.post.title}"></h3>
    </div>

    <div class="mb-3">
        <div style="white-space:pre-wrap" th:text="${model.post.content}"></div>
    </div>

    <span class="text-muted">조회 <span th:text="${model.post.views}">0</span></span>

    <div class="row border-top border-bottom border-secondary text-center mt-4">
        <div class="col text-muted">
            <label for="comment-add-input" style="cursor:pointer;">
                <i class="bi bi-chat" style="font-size:21px"></i>
                댓글쓰기
            </label>

        </div>
        <div class="col" id="likeButton">
            <form action="/like" method="post" id="likeForm" style="display: inline;">
                <input type="hidden" name="postId" th:value="${model.post.id}">
                <span style="cursor:pointer;"
                   th:classappend="${isLike}? text-danger : text-muted"
                   onclick="document.getElementById('likeForm').submit()">
                    <i class="bi bi-heart" style="font-size:21px"></i>
                    관심
                    <span th:if="${model.post.likeCount} != 0" th:text="${model.post.likeCount}">1</span>
                </span>
            </form>
        </div>
    </div>

    <div class="text-muted text-center mt-5 mb-5 pb-3">
        <div class="h4 mb-5 pb-5" id="commentBox">
            아직 댓글이 없어요. <br />
            가장 먼저 댓글을 남겨보세요.
        </div>
    </div>
</div>

<footer th:replace="fragments/layout :: footer(postDetail)"></footer>
</body>
</html>