<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(동네생활-글)"></head>
<body>
<header th:replace="fragments/layout :: header(post)"></header>

<div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">
    <div class="mb-4 d-flex justify-content-between">
        <div>
            <span class="badge bg-secondary" th:text="${postCategory.displayName}">일상</span>
        </div>
        <div class="dropdown" th:if="${session.loginMember.id} == ${member.id}">
            <span class="btn text-white" data-bs-toggle="dropdown" aria-expanded="false" style="padding:0px;">
                <i class="bi bi-three-dots-vertical" style="font-size:20px"></i>
            </span>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" th:href="@{|/post/${post.id}/edit|}" >수정</a></li>
                <li>
                    <form action="/post/delete" method="post" id="deletePost" style="display: inline;">
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <a class="dropdown-item" href="javascript:void(0);"
                           onclick="if (confirm('해당 글을 삭제하시겠습니까?')) {document.getElementById('deletePost').submit();}">삭제</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <a href="/profile" th:href="@{|/profile/${member.token}|}" class="text-decoration-none" style="display: block;">
            <img src="https://blog.kakaocdn.net/dn/c3vWTf/btqUuNfnDsf/VQMbJlQW4ywjeI8cUE91OK/img.jpg"
                 class="float-start me-3" style="width: 39px;">
            <span class="text-white font-weight-bold h5" th:text="${member.nickname}">닉네임</span> <br />
            <span class="text-muted" th:text="${@thymeleafUtils.datetimeToStr(post.createdAt)}">3분 전</span>
        </a>
    </div>

    <div class="mb-4">
        <h3 th:text="${post.title}"></h3>
    </div>

    <div class="mb-3">
        <div style="white-space:pre-wrap" th:text="${post.content}"></div>
    </div>

    <span class="text-muted">조회 <span th:text="${post.views}">0</span></span>

    <div class="row border-top border-bottom border-secondary text-center mt-4">
        <div class="col text-muted">
            <i class="bi bi-chat" style="font-size:21px"></i>
            댓글쓰기
        </div>
        <div class="col" >
            <form action="/like" method="post" id="likeForm" style="display: inline;">
                <input type="hidden" name="postId" th:value="${post.id}">
                <span style="cursor:pointer;"
                   th:classappend="${isLike}? text-danger : text-muted"
                   onclick="document.getElementById('likeForm').submit()">
                    <i class="bi bi-heart" style="font-size:21px"></i>
                    관심
                    <span th:if="${post.likeCount} != 0" th:text="${post.likeCount}">1</span>
                </span>
            </form>
        </div>
    </div>

    <div class="text-muted text-center mt-5">
        <p class="h4">
            아직 댓글이 없어요. <br />
            가장 먼저 댓글을 남겨보세요.
        </p>
    </div>
</div>

<footer th:replace="fragments/layout :: footer(postDetail)"></footer>
</body>
</html>