<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(동네생활)"></head>
<body>
    <header th:replace="fragments/layout :: header(home)"></header>

    <div class="container bg-dark text-white min-vh-100" style="padding-top: 60px;">

        <div class="pb-5 mb-3">
            <div class="border-top border-secondary pt-3 mb-3"
                 th:each="post : ${posts}">
                <a href="#" th:href="@{|/post/${post.id}|}" class="text-decoration-none">
                    <div class="d-flex w-100 mb-1">
                        <h5 class="text-white" th:text="${post.title}"></h5>
                    </div>
                    <div class="text-muted mb-1">
                        <span class="text-info font-weight-bold" th:text="${categoriesMap.get(post.postCategoryName)}">동네질문</span>
                        ·
                        <span class="text-muted">봉천동</span>
                        ·
                        <span class="text-muted" th:text="${@thymeleafUtils.datetimeToStr(post.createdAt)}">11분전</span>
                    </div>
                    <div class="text-white">
                        <span><i class="bi bi-chat text-muted"></i> 3</span>
                        <span th:if="${post.likeCount} != 0">
                            <i class="bi bi-heart text-muted"></i>
                            <span th:text="${post.likeCount}">1</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <footer th:replace="fragments/layout :: footer(home)"></footer>
</body>
</html>